<!DOCTYPE html>
<html>
<h1> Welcome to Tweet Engine </h1>
Enter the Twitter name:<br>
<input type="text" name="name" id="name">
<br>
Enter the no of tweets:<br>
<input type="text" name="count" id="count">
<p><input type="button" onclick="getTweets()" value="get tweets" />
<p>
<n id="tweets"></n>
<script src="static/my.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>






<h1> Welcome to Git Engine</h1>
Enter the Github User Id:<br>
<input type="text" name="git_id" id="git_id">
<p><input type="button" onclick="getrepo()" value="Submit" />
<p>
<n id ="repos"></n>
</html>
